<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 ">
      <h1>{{ appName | async }}</h1>
      <form>
      <input type="text" #serverName placeholder="name">
      <input type="text" #serverOffice placeholder="office">
      <input type="text" #serverposition placeholder="position">
      <input type="text" #serversalary placeholder="salary">
      
      <button class="btn btn-primary" (click)="onAddServer(serverName.value,serverOffice.value,serverposition.value,serversalary.value)">Add Server</button>
      
      <button class="btn btn-primary" (click)="onSave()">Save Servers</button>
     
      <button class="btn btn-primary" (click)="onGet()">Get Servers</button>
      
    </form>
    </div>
     
     <div class="col-xs-12 col-sm-6 col-md-6">
      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
        <li class="list-group-item">{{ server.office }}</li>
        <li class="list-group-item">{{ server.position }}</li>
        <li class="list-group-item">{{ server.salary }}</li>
        <button class="btn btn-primary" (click)="onAddServer(serverName.value,serverOffice.value,serverposition.value,serversalary.value)">Detail</button>
      </ul>
    </div>
  </div>
    </div>
   
  
